/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification 
for details on configuring this project to bundle and minify static web assets. */
body {
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

h2 {
    padding-top: 40px;
    padding-bottom: 15px;
}

footer {
    padding-top: 20px;
    padding-bottom: 10px;
}

.flex-equal {
    flex: 1;
}

.roll-list {
    height: 200px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: auto;
}

.user-list {
    height: 100px;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: auto;
}

@media (min-width: 576px) {
    .roll-list-sm {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        overflow: auto;
        height: 100%;
    }
}

.roll-list::-webkit-scrollbar,
.user-list::-webkit-scrollbar {
    width: 10px;
}

.roll-list::-webkit-scrollbar-track,
.user-list::-webkit-scrollbar-track {
    background: #ededed;
}

.roll-list::-webkit-scrollbar-thumb,
.user-list::-webkit-scrollbar-thumb {
    background: #c8c7c7;
}

    .roll-list::-webkit-scrollbar-thumb:hover,
    .user-list::-webkit-scrollbar-thumb:hover {
        background: #adaaaa;
    }

.roll-entry {
    border-bottom: 1px solid #d5d3d3;
    padding: 8px 14px 8px 14px;
    margin-bottom: 8px;
    margin-top: 8px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

    .roll-entry.my-roll {
        align-items: flex-end;
    }

    .roll-entry .roll-user {
        font-size: 1rem;
    }

    .roll-entry .roll-value {
        font-size: 2rem;
        font-weight: bold;
    }

    .roll-entry .roll-string {
        font-size: 0.8rem;
        color: #808080;
    }

pulse-border {
    border: 2px solid transparent;
    -webkit-animation: pulse 0.7s;
    -webkit-animation-iteration-count: 2;
    animation: pulse 0.7s;
    animation-iteration-count: 2;
    background: white;
    outline: 0;
}

@-webkit-keyframes pulse {
    from {
        border-color: transparent;
    }

    50% {
        border-color: yellow;
    }

    to {
        border-color: transparent;
    }
}

@keyframes pulse {
    from {
        border-color: transparent;
    }

    50% {
        border-color: yellow;
    }

    to {
        border-color: transparent;
    }
}
